---
---

@import "https://fonts.googleapis.com/css?family=Merriweather";
@import "{{ site.theme }}";

.container-lg {
  max-width: 46rem;
}

.markdown-body {
  font-family: Merriweather,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  line-height: 1.8em;
  color: #444;

  h1:not([id]) {
    font-size: 1rem;
    padding-top: 4px;
    line-height: 1.4rem;
    text-align: center;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 2em 0;
  }

  p {
    text-align: justify;
  }

  blockquote {
    margin-left: 2em;
  }
}
